@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/dist/Montserrat-ExtraBold.woff2"), url("../fonts/dist/Montserrat-ExtraBold.woff");
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/dist/Commissioner-SemiBold.woff2"), url("../fonts/dist/Commissioner-SemiBold.woff");
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dist/Commissioner-Regular.woff2"), url("../fonts/dist/Commissioner-Regular.woff");
}

